body{
	margin:0;
	padding:0;
	line-height:2.8em;
}
h1,h2,h3,h4,h5,h6,p,ul{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
}
ul {
	list-style:none;
}
.clearfix:before{
	display:block;
	content:'';
	clear:both;
}
.clearfix:after{
	display:block;
	content:'';
	clear:both;
}
/*header*/

header{
	margin-bottom:20px;
	padding:20px 0;
	text-align:center;
	background:#b92626;
	color:#C0C0C0;
}
.logo{
	display:block;
	color:#C0C0C0;	
	text-transform:uppercase;	
}
nav{
	padding:15px 0 0;
}
 
.list a,.li a:visited{
	padding:20px 0;
	font-size:1.2em;
	color:#C0C0C0;
}

.list li a:hover{
	text-transform:uppercase;
	font-size:2em;
	color:#880404;
}
.list .selected {
	color:#880404;
}
/*gallery*/

.gallery{
	padding:9px 3%;
	text-align:center;
}
.gallery h2{
	margin-bottom:15px;
}
.gallery ul{
	list-style:none;
}
.gallery li {
	margin:0 0 20px 0;
}
.gallery li a{
	display:inline-block;
	line-height:0;
	color:#fff;	
}
.gallery li p{
	padding:10px 0;
	background-color:dimgrey;
}
.image{
	padding-bottom:20px;
}
/*footer*/

footer{
	padding:50px 0 0;
	text-align:center;
}
.social-icon{
	width:30px;
	height:30px;
}

/*about*/
.wrapper{
	padding:0 5%;
	
}
.wrapper p{
	font-size:1.008em;
	line-height:1.2em
}
.profile-photo{
	margin:0 auto 30px;
	display:block;
	width:140px;
	height:140px;
	border-radius:100%;
}
/*contact*/
.wrapper{
	padding-top:40px;
}
.wrapper ul li{
	line-height:1.2;
}
.wrapper li a{
	display:inline-block;
	min-height:20px;
	padding:0px 0px 0px 30px;
	margin-bottom:15px;
}
ul .phone{
	background:url('../img/phone.png') no-repeat ;
	background-size:20px 20px;
}
ul .mail{
	background:url('../img/mail.png') no-repeat ;
	background-size:20px 20px;
}
ul .twitter{
	background:url('../img/twitter.png') no-repeat ;
	background-size:20px 20px;
}

/*responsive*/

@media screen and (min-width:480px){
	.primary{
		width:50%;
		float:left;
	}
	.secondary{
		width:40%;
		float:right;
	}
	.profile-photo{
		float:left;
		margin:0 5% 0 10px;
	}
	.gallery li{
		float:left;
		margin:4%;
		width:40%;
	}
}
@media screen and (min-width:780px){
	#header{
		padding:0 15px;
		
		
	}
	.logo{
		float:left;
		width:40%;
		
	}
	nav{
		float:right;
		width:40%;
	}
	nav li{
		display:inline-block;
	}
	nav .list a{
		display:block;
		padding:20px 20px;
		
	}
	.list li a:hover{
	text-transform:lowercase;
	font-size:1.2em;
	color:#880404;
}
	.gallery li{
		float:left;
		margin:4%;
		width:25.333333%;
	}

}











































